<!DOCTYPE html>
<html>
  <head>
    <title>Web Chat</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
	  <div id = "usernav">
	  	<% if current_user %>
		  Welcome <%= current_user.username %>
		  <%= link_to t(:sign_out), signout_path %>
		<% else %>
		  <%= link_to t(:sign_in_twitter), "/auth/twitter" %> |
		  <%= link_to t(:sign_in_facebook), "/auth/facebook" %>
		<% end %>
	  </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
